body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #54ad9a;
}

h1 {
    margin-bottom: 0;
}

#tagline {
    margin: 0 0 2rem 0;
    font-style: italic;
    border: 1px solid black;
    border-left: 4px double black;
    border-right: 4px double black;
    border-radius: 1rem;
    padding: 0 1rem;
    background-color: lightyellow;
}

#stats-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    margin: 0 0 .5rem 0;
    padding: 0;
}

.section-header {
    width: 20rem;
    margin-bottom: .5rem;
}

.h2 {
    margin: 0;
}

button {
    height: 1.5rem;
    border: 1px solid orange;
}

button:hover {
    border: 1px solid black;
    cursor: pointer;
}

#stats {
    width: 20rem;
    font-size: 1.25rem;
    margin-bottom: 2rem;
    margin-top: 0;
}

#attribute-header {
    display: flex;
    font-size: .9rem;
    margin-top: 0;
    margin-bottom: .5rem;
    background-color: gainsboro;
    outline: 1px solid orange;
}

#stat-name-header {
    min-width: 4rem;
    margin: 0 1.5rem 0 2rem;
}

#stat-value-header, #stat-base-header {
    min-width: 2rem;
    margin: 0 .5rem 0 0;
}

#modifier-header {
    min-width: 7rem;
    margin: 0 0 0 1.25rem;
}

.attribute {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.stat-name {
    margin: 0 0 0 1rem;
    min-width: 4rem;
    text-transform: uppercase;
    font-weight: 600;
}

.stat-value {
    outline: 1px solid orange;
    background-color: white;
    margin: 0 .5rem 0 0;
    min-width: 2rem;
    text-align: center;
}

.modifier {
    outline: 1px solid orange;
    background-color: white;
    margin: 0;
    min-width: 6rem;
}

#form-race {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    width: 20rem;
}

.race {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.race:hover {
    cursor: pointer;
}

input {
    width: 1rem;
}

label {
    width: 7rem;
}

.race-modifier {
    font-style: italic;
    font-size: 1rem;
}

.table-header {
    background-color: gainsboro;
    outline: 1px solid orange;
    font-size: .9rem;
    margin-bottom: .25rem;
}

.selection-header {
    margin: 0 5rem 0 1.5rem;
}