#stats-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 20rem;
}

button {
    height: 1.5rem;
}

#stats {
    /* outline: 1px solid red; */
    width: 20rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.attribute {
    /* outline: 1px solid orange; */
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.stat-name {
    outline: 1px solid red;
    margin: 0;
    min-width: 9rem;
}

.stat-value {
    outline: 1px solid orange;
    margin: 0;
    min-width: 2rem;
    text-align: right;
}

.modifier {
    outline: 1px solid yellowgreen;
    margin: 0;
    min-width: 8rem;
}

#form-race {
    /* outline: 1px solid red; */
    font-size: 1.5rem;
    margin-bottom: 2rem;
    max-width: 20rem;
}

.race {
    /* outline: 1px solid orange; */
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

input {
    /* outline: 1px solid blue; */
    width: 1rem;
}

label {
    /* outline: 1px solid green; */
    width: 7rem;
}

.race-modifier {
    /* outline: 1px solid yellow; */
    font-style: italic;
    font-size: 1rem;
}

.table-header {
    background-color: gainsboro;
    border-bottom: 2px solid black;
}

.selection-header {
    margin: 0 4rem 0 1.5rem;
}